@font-face {
  font-family: "Lobster-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lobster-Regular/Lobster-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lobster-Regular/Lobster-Regular.woff") format("woff"), url("../fonts/Lobster-Regular/Lobster-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fonts/FontAwesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fonts/FontAwesome.woff") format("woff"), url("../fonts/fonts/FontAwesome.ttf") format("truetype"), url("../fonts/fonts/FontAwesome.svg#FontAwesome") format("svg"); }
