@charset "UTF-8";
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.sect {
  margin-top: -115px;
  position: relative;
  z-index: 1; }

.sect_custom {
  background-color: #fff;
  padding: 50px 0px;
  border: 1px dashed #eeeeee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: -40px; }

.heading_decription {
  text-align: center;
  padding-top: 50px; }
  .heading_decription h3 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "RobotoSlab-Bold"; }
  .heading_decription .line {
    padding: 1px;
    display: inline-block;
    width: 50px;
    border-top: 1px solid #dddddd;
    border-top-text-align: center; }

.tm_table img {
  padding: 5px; }

.product__title {
  margin-top: 20px;
  display: block;
  font-size: 15px;
  margin-bottom: 15px;
  padding: 0 30px; }
  .product__title .title:hover {
    color: #e47277;
    text-decoration: none; }
  .product__title .add_to_cart {
    margin-top: 20px; }
    .product__title .add_to_cart .button {
      margin-top: 20px; }

.item {
  position: relative;
  text-align: center;
  margin: 15px;
  font-family: Roboto Slab;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #dddddd;
  width: 270px; }
  .item:hover .item-image .fa {
    opacity: .7; }
  .item:hover .item-image::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    opacity: .3;
    width: 100%;
    height: 100%; }
  .item .item-image {
    width: 270px;
    position: relative;
    background-size: cover;
    min-height: 240px;
    width: 270px;
    display: block; }
    .item .item-image .fa {
      font-size: 30px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10px;
      margin-top: -10px;
      opacity: 0;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
    .item .item-image::before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #111;
      content: '';
      opacity: 0; }

.owl_slider_wrap .sider_nav_container {
  position: relative; }

.owl_slider_wrap .slider_nav {
  position: absolute;
  width: 100%;
  z-index: 2;
  color: #e47277;
  cursor: pointer;
  font-size: 32px; }
  .owl_slider_wrap .slider_nav div {
    position: absolute;
    top: 292px;
    margin-left: -35px; }
    .owl_slider_wrap .slider_nav div:last-child {
      right: -45px; }

.about {
  background-size: cover;
  position: relative;
  min-height: 450px; }

section {
  padding: 40px 0 40px; }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding-top: 40px; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  .top_wrapper .top_text {
    display: inline-block;
    color: #eee; }
    .top_wrapper .top_text .button_2 {
      border: #e47277 1px solid;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 700;
      font-family: "RobotoSlab-Regular";
      text-transform: uppercase;
      padding: 10px 20px;
      background-color: #e47277;
      color: #fff;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
      .top_wrapper .top_text .button_2:hover {
        background-color: transparent;
        border: 1px solid #ffffff;
        -webkit-transition: all .7s ease;
        transition: all .7s ease;
        color: #fff;
        text-decoration: none; }
    .top_wrapper .top_text h2 {
      background-image: url("../img/event-heading-bg.png");
      background-repeat: no-repeat;
      display: inline-block;
      font-size: 25px;
      height: 70px;
      width: 340px;
      padding-top: 10px;
      color: #5a5a5a; }
    .top_wrapper .top_text h3 {
      margin-bottom: 70px; }

.sec_slid {
  background-color: #e47277;
  color: #fff; }

.slider_2 {
  text-align: center; }
  .slider_2 .img_wrap img {
    max-width: 116px;
    height: 116px;
    display: inline-block;
    -webkit-border-radius: 10em;
    border-radius: 10em;
    owerflow: hidden;
    -webkit-box-shadow: 0 0 0 6px #f0b2b5;
    box-shadow: 0 0 0 6px #f0b2b5;
    margin-bottom: 20px;
    margin: 30px 6px 40px; }
  .slider_2 .owl-dots {
    bottom: 60px;
    width: 100%;
    text-align: center;
    padding-bottom: 70px; }
    .slider_2 .owl-dots .owl-dot {
      width: 14px;
      height: 14px;
      background-color: #e47277;
      display: inline-block;
      margin: 0 3px;
      -webkit-border-radius: 10em;
      border-radius: 10em;
      border: 2px #fff solid;
      margin-top: 30px; }
      .slider_2 .owl-dots .owl-dot.active {
        background-color: #f0b2b5; }

.owl-carousel .owl-item img {
  display: inline-block; }

.discription p {
  color: #fff;
  padding-bottom: 30px; }

.g_pading {
  padding: 7px; }

.item_1 {
  position: relative;
  padding-top: 25px;
  font-family: Roboto Slab;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .item_1:hover .item_image_1::before, .item_1:hover .item_image_1::after {
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    width: 100%;
    height: 100%; }
  .item_1 .item_image_1 {
    width: 270px;
    position: relative;
    background-size: cover;
    min-height: 240px;
    width: 270px;
    display: block;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block; }
  .item_1 a {
    display: inline-block;
    width: 200px; }
  .item_1 img {
    width: 100%;
    height: auto;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

.gallery {
  display: block;
  text-align: center; }
  .gallery .button_3 {
    border: #e47277 1px solid;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    font-family: "RobotoSlab-Regular";
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #e47277;
    color: #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 50px; }
    .gallery .button_3:hover {
      background-color: transparent;
      border: 1px solid #e47277;
      -webkit-transition: all .7s ease;
      transition: all .7s ease;
      color: #e47277;
      text-decoration: none; }

.callback {
  background: white;
  padding: 20px 30px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative; }

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg); }

.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0); }

.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg); }

.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0; }

.popup_form {
  position: relative; }
  .popup_form h3 {
    text-align: center; }
  .popup_form label, .popup_form input {
    display: block;
    width: 100%; }
  .popup_form label {
    margin-bottom: 12px; }
    .popup_form label span {
      font-size: 14px;
      color: #999; }
  .popup_form input {
    border: 2px solid #e47277;
    padding: 4px 15px; }
  .popup_form .button {
    margin-bottom: 10px;
    margin-top: 20px; }

.text_center {
  text-align: center; }

.success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #FFF;
  z-index: 2;
  font-family: "RobotoSlab-Bold";
  padding-top: 140px;
  text-transform: uppercase;
  display: none; }
  .success.visible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.main_foot {
  background-color: #1b1b1b;
  color: #ffffff;
  padding: 70px 0 20px;
  font-size: 14px;
  border-top: 11px #c65459 solid;
  position: relative; }
  .main_foot .top-pannel-box {
    margin-bottom: 25px; }
  .main_foot::before {
    background-image: url("../img/wave-line.png");
    top: 0;
    left: 0;
    background-repeat: repeat;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .5; }
  .main_foot .top-button {
    margin-top: 20px;
    margin-bottom: 40px; }
  .main_foot .button {
    background-color: #e47277;
    color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .main_foot .button:hover {
      background-color: transparent;
      color: #e47277;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }

.top_pannel_box h4 {
  margin-top: 0;
  margin-top-position: relative; }

.top_pannel_box ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #888; }

.top_pannel_box li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #888;
  margin-bottom: 18px;
  font-size: 0.8125em;
  display: block; }

.menu_type ul, .menu_type li, .menu_type a {
  color: #888;
  list-style: none; }

.menu_type ul:hover, .menu_type li:hover, .menu_type a:hover {
  color: #e47277;
  text-decoration: none; }

.text-right {
  text-align: right; }

.top-phone {
  font-size: 14px;
  margin-top: -3px; }
  .top-phone .fa {
    color: #888; }

.top-email {
  font-size: 13px;
  text-align: right; }
  .top-email .fa {
    color: #888; }
  .top-email a {
    font-size: 13px;
    color: #888; }
    .top-email a:hover {
      text-decoration: none;
      color: #e47277; }

.developer span {
  color: #888; }

.developer a {
  color: #fff; }
  .developer a:hover {
    color: #e47277;
    text-decoration: none; }

.powered {
  background-color: #1b1b1b;
  text-align: center;
  color: #fff;
  font-size: 14px; }
  .powered .copyright {
    margin: 15px 0 15px; }

.social_link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }

.social_link li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  padding: 10px 5px; }

.social_link .vk {
  background-image: url("../img/background-facebook.png"); }

.social_link .instagram {
  background-image: url("../img/background-googleplus.png"); }

.social_link div {
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  position: relative; }

.social_link a {
  color: #fff;
  font-size: 18px; }

.social_link:hover {
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg); }

.isnohome .heading_decription {
  padding: 0; }

.isnohome .owl_slid .slide {
  padding: 40px 0px 15px; }

.isnohome .slide_img_wrap,
.isnohome .descr p {
  display: none; }

.isnohome .owl_slider_wrap .slider_nav div {
  top: 110px; }

.isnohome .slide-content .descr {
  width: 100%;
  top: -65px; }
  .isnohome .slide-content .descr h2 {
    font-size: 2.25em;
    padding-bottom: 15px; }

.isabout section {
  padding: 0; }

.isabout .about_wrapper img {
  height: auto;
  max-width: 100%;
  margin-top: 90px; }

.isabout .about_desr {
  font-size: 15px; }
  .isabout .about_desr p {
    font-family: 'RobotoSlab-Regular';
    margin: 10px; }

.isabout .wide_ab {
  padding: 0px 0 80px; }

.isabout .s_wide {
  padding: 132px 0px 132px; }

.isabout .wpb_wrapper {
  z-index: 2;
  position: relative; }

.isabout .circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: auto;
  width: 70%;
  height: 0;
  padding: 35% 0;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #e47277;
  opacity: 0.7; }
  .isabout .circle .number {
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    line-height: 100%; }
  .isabout .circle .text {
    font-size: 30px; }

.top_site_main {
  position: relative;
  text-align: center;
  background-color: #fff;
  text-transform: uppercase; }
  .top_site_main .page-title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 100%; }
    .top_site_main .page-title-wrapper .banner-wrapper {
      top: 200px;
      position: relative;
      display: inline-block;
      max-width: 30%;
      border: 2px #e47277 solid;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background-color: #FFF;
      opacity: .7; }
      .top_site_main .page-title-wrapper .banner-wrapper .heading__secondary {
        margin-top: 10px; }

.iscontact section {
  padding: 0; }

.iscontact .wpb_wrapper a {
  text-decoration: none; }

.map {
  padding-top: 100px; }

.form-control {
  -webkit-border-radius: 1px;
          border-radius: 1px; }
  .form-control:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #e47277;
    -webkit-transition: .15s ease;
    transition: .15s ease; }

.wpb_text {
  text-align: center;
  font-size: 15px;
  padding-bottom: 100px; }
  .wpb_text .fa {
    color: #e47277;
    font-size: 20px;
    padding: 12px; }
  .wpb_text .social_wrap ul,
  .wpb_text .social_wrap li {
    display: inline-block;
    text-align: center;
    min-width: 45px; }
  .wpb_text .social_wrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .wpb_text .social_wrap li {
    display: inline-block; }
  .wpb_text .social_wrap .instagram {
    background-image: url(../img/background-googleplus.png);
    background-repeat: no-repeat; }
  .wpb_text .social_wrap .vk {
    background-image: url(../img/background-facebook.png);
    background-repeat: no-repeat; }
  .wpb_text .social_wrap .fa {
    color: #fff; }
  .wpb_text .form-group {
    text-align: left; }
    .wpb_text .form-group textarea {
      height: 220px; }

.main_form button {
  width: 100%;
  background-color: #e47277;
  border: 1px #e47277 solid;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 3px; }
  .main_form button:hover {
    background-color: #fff;
    border: 1px #e47277 solid;
    color: #e47277;
    -webkit-transition: all .7s ease;
    transition: all .7s ease; }

.main_form .form-group {
  text-align: left; }
  .main_form .form-group textarea {
    height: 220px; }
  .main_form .form-group input {
    margin-bottom: 45px; }

.btn-lg {
  -webkit-border-radius: 1px;
          border-radius: 1px; }

.s_gallery ul,
.s_gallery li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }

.s_gallery li {
  display: inline-block;
  margin: 10px 15px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  color: #5e3c3e;
  font-weight: 600; }
  .s_gallery li:hover {
    color: #e47277; }
  .s_gallery li.active {
    color: #e47277;
    border-bottom: 1px solid #e47277; }

.s_gallery ul {
  margin-bottom: 50px; }

.filter_div {
  margin: 20px 0 10px;
  font-size: 14px;
  font-weight: 600; }

.image_popup {
  display: none; }

.mix {
  display: none; }

.s_work .tm_table {
  padding-bottom: 40px;
  margin: auto; }

.portfolio .responsive_img {
  max-width: 100%; }

.portfolio .col-lg-3 {
  padding: 0; }

.portfolio .portfolio_item {
  position: relative;
  display: block;
  color: #fff;
  overflow: hidden; }
  .portfolio .portfolio_item img {
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
  .portfolio .portfolio_item:hover .portfolio_item_content {
    opacity: 1;
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95); }
  .portfolio .portfolio_item:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .portfolio .portfolio_item .portfolio_item_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    opacity: 0;
    background-color: rgba(228, 114, 119, 0.65);
    text-align: center;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    font-size: 15px; }
    .portfolio .portfolio_item .portfolio_item_content i {
      color: rgba(255, 255, 255, 0.85);
      font-size: 24px; }

.portfolio_popup {
  position: relative;
  background-color: #FFF;
  display: block;
  max-width: 1000px;
  margin: 5% auto;
  text-align: center;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  padding-top: 15px; }
  .portfolio_popup .responsive_img {
    max-width: 100%; }
  .portfolio_popup .row, .portfolio_popup .col-sm-12 {
    display: block; }
  .portfolio_popup h2 {
    margin: 40px auto;
    display: block;
    width: 70%; }
  .portfolio_popup .portfolio_popup_text {
    font-size: 14px;
    text-align: left;
    display: block;
    width: 90%;
    margin: 20px auto 40px; }
  .portfolio_popup .td {
    vertical-align: top;
    padding: 0 7px;
    color: #666; }
    .portfolio_popup .td strong {
      color: #e47277; }

.td {
  display: table-cell; }

.my-mfp-zoom-in .portfolio_popup,
.my-mfp-zoom-in .form-callback {
  opacity: 0;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95); }

.my-mfp-zoom-in.mfp-ready .portfolio_popup,
.my-mfp-zoom-in.mfp-ready .form-callback {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.my-mfp-zoom-in.mfp-removing .portfolio_popup,
.my-mfp-zoom-in.mfp-removing .form-callback {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

.wsnw {
  white-space: nowrap; }

.top-button {
  margin-top: 50px;
  margin-bottom: 30px; }

.main_foot {
  background-color: #1b1b1b;
  color: #ffffff;
  padding: 70px 0 20px;
  font-size: 14px;
  border-top: 11px #c65459 solid;
  position: relative; }
  .main_foot .top-pannel-box {
    margin-bottom: 25px; }
  .main_foot::before {
    background-image: url("../img/wave-line.png");
    top: 0;
    left: 0;
    background-repeat: repeat;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .5; }
  .main_foot .top-button {
    margin-top: 20px;
    margin-bottom: 40px; }
  .main_foot .button {
    background-color: #e47277;
    color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .main_foot .button:hover {
      background-color: transparent;
      color: #e47277;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }

.footer_about {
  margin-top: 25px;
  font-size: 14px; }

.top_pannel_box h4 {
  margin-top: 0;
  margin-top-position: relative;
  border-bottom: 1px #fff solid;
  color: #ccc; }

.top_pannel_box ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #888; }

.top_pannel_box li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #888;
  margin-bottom: 18px;
  font-size: 14px;
  display: block; }

.top_pannel_box .fa {
  сolor: #111; }

.menu_type ul, .menu_type li, .menu_type a {
  color: #888;
  list-style: none; }

.menu_type .fa {
  color: #fff; }

.menu_type ul:hover, .menu_type li:hover, .menu_type a:hover {
  color: #e47277;
  text-decoration: none; }

.text-right {
  text-align: right; }

.top-phone {
  font-size: 14px;
  margin-top: -3px; }
  .top-phone .fa {
    color: #888; }

.top-email {
  font-size: 13px;
  text-align: right; }
  .top-email .fa {
    color: #888; }
  .top-email a {
    font-size: 13px;
    color: #888; }
    .top-email a:hover {
      text-decoration: none;
      color: #e47277; }

.developer span {
  color: #888; }

.developer a {
  color: #fff; }
  .developer a:hover {
    color: #e47277;
    text-decoration: none; }

.powered {
  background-color: #1b1b1b;
  text-align: center;
  color: #fff;
  font-size: 14px; }
  .powered .copyright {
    margin: 15px 0 15px; }

.social_link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }

.social_link li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  padding: 10px 5px; }

.social_link .vk {
  background-image: url("../img/background-facebook.png"); }

.social_link .instagram {
  background-image: url("../img/background-googleplus.png"); }

.social_link div {
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  position: relative; }

.social_link a {
  color: #fff;
  font-size: 18px; }

.social_link:hover {
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg); }
